@model ShenmiApp.Models.Preguntas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Preguntas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TextoPregunta" class="control-label"></label>
                <input asp-for="TextoPregunta" class="form-control" />
                <span asp-validation-for="TextoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpcionesRespuesta" class="control-label"></label>
                <input asp-for="OpcionesRespuesta" class="form-control" />
                <span asp-validation-for="OpcionesRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestaCorrecta" class="control-label"></label>
                <input asp-for="RespuestaCorrecta" class="form-control" />
                <span asp-validation-for="RespuestaCorrecta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explicacion" class="control-label"></label>
                <input asp-for="Explicacion" class="form-control" />
                <span asp-validation-for="Explicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puntos" class="control-label"></label>
                <input asp-for="Puntos" class="form-control" />
                <span asp-validation-for="Puntos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestasJugadorIdRespuestasJugador" class="control-label"></label>
                <input asp-for="RespuestasJugadorIdRespuestasJugador" class="form-control" />
                <span asp-validation-for="RespuestasJugadorIdRespuestasJugador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelesIdNiveles" class="control-label"></label>
                <select asp-for="NivelesIdNiveles" class ="form-control" asp-items="ViewBag.NivelesIdNiveles"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
